{% strip %}<!DOCTYPE html>
<html class="no-js" lang="pt-br">
  <head>
    {% include head.html %}

    <meta name="robots" content="noindex"> <!--=====  Please remove it ! ! !  ======-->
    <meta name="googlebot" content="noindex"> <!--=====  Please remove it ! ! !  ======-->

  </head>
  <body class="{% if page.post_class %}{{page.post_class}}{% endif %} {% if page.slug %}{{page.slug}}{% endif %}">
    {% include header.html %}

    {% if page.slug == 'home' %}
      {% include banner.html %}
    {% endif %}

    <main class="wrapper container" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
      {{ content }}
    </main>

    {% include footer.html %}

    {% include search-modal.html %}

    {% javascript main %}
    {% if page.slug == 'projects' %}
        {% javascript jquery.github %}
    {% endif %}
  </body>
</html>{% endstrip %}