//
// Variables
//

// $font-family-base: "Raleway", Helvetica, sans-serif !default;
$font-family-base: "Droid Sans", Helvetica, sans-serif !default;
$font-family-serif: "Droid Serif", sans-serif !default;
$line-height: 1.8 !default;
$font-size-base: 18px !default;

$gutter: 30px !default;
$gutter-padding: ($gutter/2) !default;
$default-feature: min-width;

$container-tablet-width  : 90% !default;
$container-desktop-width : 48em !default;

$screen-phone   : 30em !default;
$screen-tablet  : 37em !default;
$screen-desktop : 56em !default;

//
// Colors

$primary-color: #f32853 !default;

$white-color: #fff !default;
$silver-color: darken($white-color, 22%) !default; // ~ #ccc
$black-color: #000 !default;
$gray-color: darken($white-color, 42%) !default; // ~ #999

$bg-color: #e8e8e8 !default;
$txt-color: rgba(lighten($black-color, 5%), .65) !default;

$blue-color: #016BA9 !default;

$border-color: #f1f2f3 !default;

// link
$link-color: $primary-color !default;
$link-hover-color: darken($link-color, 10%) !default;