/*======================================
=            Buttons styles            =
======================================*/

.button {
  @include appearance(none);
  @include transition(background-color .2s linear, color .2s linear, border-color .2s linear);
  @include border-radius(4px);
  @include box-shadow(none);
  background-color: $primary-color;
  border: 2px solid lighten($primary-color, 4%);
  color: $white-color;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  // height: 3.15em;
  line-height: 3.25em;
  padding: 0 2.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover,
  &:active {
    background-color: lighten($primary-color, 5%);
    border-color: lighten($primary-color, 7%);
    color: darken($white-color, 5%);
  }

  &.icon {
    padding-left: 1.35em;

    &:before {
      margin-right: .5em;
    }
  }

  @include media(max-width $screen-phone) {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
  }

  &.small {
    font-size: .8em;
  }

  &.big {
    font-size: 1.35em;
  }

  &.ghost {
    background-color: transparent;
    border-width: 3px;
    border-color: rgba(255, 255, 255, .6);

    &:hover,
    &:active {
      background-color: rgba(255, 255, 255, .075);
    }

    &.icon:before {
      color: #aaa;
    }
  }

  &.disabled, &:disabled {
    background-color: #666;
    box-shadow: inset 0 -.15em 0 0 rgba(0, 0, 0, .15);
    color: $white-color;
    cursor: default;
    opacity: .25;
  }
}

input {
  &[type="submit"], &[type="reset"], &[type="button"] {
    @extend .button;
  }
}
